<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312902795955-daeeb23q4o6908upkd2l28784k7pt1ja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312902795955-daeeb23q4o6908upkd2l28784k7pt1ja</string>
	<key>API_KEY</key>
	<string>AIzaSyD6ECwJDV0jGwev3p3pAlW4EBPWs2GwazM</string>
	<key>GCM_SENDER_ID</key>
	<string>312902795955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hiyayakko</string>
	<key>PROJECT_ID</key>
	<string>hiyayakko-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>hiyayakko-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312902795955:ios:22f5b55de6853c7a65a6c6</string>
</dict>
</plist>